# ── Quarto build output ───────────────────────────────────────────────────────
.quarto/

# Quarto freeze cache (reproducible computations)
_freeze/

# ── PDFs in material/ (copyrighted textbooks / large binaries) ───────────────
material/*.pdf

# ── OS junk ──────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ── Editor / IDE ──────────────────────────────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

/.quarto/
**/*.quarto_ipynb

# no incluir carpeta con archivos grandes de bases de datos
/big_data_bbdd